/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
    Pollster Specific Styles
 */
body {
    font: 300 16px/22px "Droid Sans";
    background: 'white';
}
pollBody {
  margin-left: 40px;
  padding-top: 40px;
}
header {
    background-image: url(quesMarks.png);
    text-align: center;
    color: #ffffff;
    height: 300px;
    overflow: scroll;

}

header h1 {
    margin-top: 75px;
    font-size: 60px;
    font-weight: 800;
    line-height: 70px;
    text-transform: uppercase;
}

header p {
    font-size: 35px;
    line-height: 25px;
    font-weight: 'strong';
}

/* friendsView */
.friends {
    float: left;
    width: 45%;
    /*padding-left: 15px;*/
}
.users {
    width: 45%;
    float: right;
}

/* Highlights the element used for button like element */
button {
    font-weight: 400;
    background:rgba(0, 68, 214, 1);
    color: #ffffff;
    /*margin: 3 10 3 10;*/
    padding: 10px 15px;    /*3 9 3 9;*/
    line-height: 21px;
    font-size: 22px;
    border-radius: 50px;
}
button:hover {
    background-color: #a8c4ff;
    color: #000;
}

h2 {
    font-size: 36px;
    padding: 25 30 15 30;
    line-height: 46px;
}

h3 {
    font-size: 28px;
    padding: 25 30 15 30;
    line-height: 36px;
}

b {
    font-weight: bold;
}

/* add friends view */
.userList:hover {
    color: 'grey';
}

#pollTitle {
    font-size: 40px;
    padding: 5px;
    margin: 5px;
    line-height: 70px;
    font-weight: bold;
}
.menuBar {
  margin-top: 20px;
  padding-top: 20px;
  margin-bottom: 20px;
}
/* lists */
ul {
    padding: 10px;
    margin: 8px;
}

li {
    list-style: disc;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    margin-left: 20px;
}

/* input boxes */
input {
    height: 22px;
    width: 60%;
    font-size: 18px;
    vertical-align: middle;
    color: #15113b;
    background-color: #e8e8e8;
;
    border-radius: 5px;
}

/* vote view */
tr, th {
    line-height: 50px;
    text-align: center;
}

.choiceName {
    max-width: 60%;
}
.voteCount {
    width: 10%;
}
.voteButton {
    width: 30%;
}

.signOut:hover {
    background-color: #bdbdbd;
}

.viewContainer {
    padding: 5px;
}

/* signin signup views */
.criteria {
    max-width: 30%;
}
.input {
    max-width: 100%;
}

/* landing page */
.left, .right {
    width: 30%;
    text-align: center;
    border: 1px solid brown;
    margin:  40px 400px 40px 400px;
    background-color: #CED8F6;
    line-height: 30px;
    padding: 10px;
    border-radius: 5px;
}

.left:hover, .right:hover {
    background-color: #F7F2E0;
}
